@model Buxis.Services.ViewModel.EmpleadoViewModel

        <div class="fila">
            <div class="columna mod4">                           
                @Html.LabelFor(model => model.IdFormaPago_tab4)
                @JqueryUIHelper.Select2("IdFormaPago_tab4",
                                        "IdFormaPago_tab4",
                                        Url.Action("DescripcionesCodigos", "Combos"),
                                        Url.Action("ByIdCodigos", "Combos"),
                                        "descripcion",
                                        (int)Buxis.Domain.Enums.TipoCodigos.FormaPago,
                                        !string.IsNullOrWhiteSpace(Model.IdFormaPago_tab4) ? Model.IdFormaPagoConComillas : "",
                                        minLetters: 0,
                                        readonlly: true)                
            </div>
            <div class="columna mod4">
                @Html.LabelFor(model => model.NumeroCuentaBancaria_tab4)                
                @Html.HiddenFor(model => model.NumeroCuentaBancaria_tab4)
                @Html.TextBoxFor(model => model.NumeroCuentaBancaria_tab4, new { @disabled = "disabled" })                           
            </div>  
            <div class="columna mod4">
                @Html.LabelFor(model => model.IdModalidadContrato_tab4)
                @JqueryUIHelper.Select2("IdModalidadContrato_tab4",
                                        "IdModalidadContrato_tab4",
                                        Url.Action("DescripcionesCodigos", "Combos"),
                                        Url.Action("ByIdCodigos", "Combos"),
                                        "descripcion",
                                        (int)Buxis.Domain.Enums.TipoCodigos.ModalidadContrato,
                                        !string.IsNullOrWhiteSpace(Model.IdModalidadContrato_tab4) ? Model.IdModalidadContratoConComillas : "",
                                        minLetters: 0,
                                        readonlly: true)
            </div>
        </div>
        <div class="fila">
            <div class="columna mod4">
                @Html.LabelFor(model => model.FechaVencimientoContrato_tab4)
                @JqueryUIHelper.DatePicker("FechaVencimientoContrato_tab4", 
                                           "FechaVencimientoContrato_tab4", 
                                           Model.FechaVencimientoContrato_tab4,
                                           format: "dd/mm/yy",
                                           readonlly:true)
            </div>
            <div class="columna mod4">
                <label class="textoRojo">(*)</label>
                @Html.LabelFor(model => model.IdObraSocial_tab4)
                @JqueryUIHelper.Select2("IdObraSocial_tab4",
                                "IdObraSocial_tab4",
                                Url.Action("DescripcionesObraSocial", "Combos"),
                                Url.Action("ByIdObraSocial", "Combos"),
                                "descripcion",
                                !string.IsNullOrWhiteSpace(Model.IdObraSocial_tab4) ? Model.IdObraSocialConComillas : "",
                                minLetters: 0,
                                readonlly: true)
            </div>
            <div class="columna mod4">
                @Html.LabelFor(model => model.IdCompaniaSeguro_tab4)
                @JqueryUIHelper.Select2("IdCompaniaSeguro_tab4",
                                        "IdCompaniaSeguro_tab4",
                                        Url.Action("DescripcionesCodigos", "Combos"),
                                        Url.Action("ByIdCodigos", "Combos"),
                                        "descripcion",
                                        (int)Buxis.Domain.Enums.TipoCodigos.CompaniaSeguro,
                                        !string.IsNullOrWhiteSpace(Model.IdCompaniaSeguro_tab4) ? Model.IdCompaniaSeguroConComillas : "",
                                        minLetters: 0,
                                        readonlly: true)
            </div>
        </div>
        <div class="fila">
            
            <div class="columna mod4">
                @Html.LabelFor(model => model.IdPrepaga_tab4)
                @JqueryUIHelper.Select2("IdPrepaga_tab4",
                                         "IdPrepaga_tab4",
                                         Url.Action("DescripcionesPrepaga", "Combos"),
                                         Url.Action("ByIdPrepaga", "Combos"),
                                        "descripcion",
                                        !string.IsNullOrWhiteSpace(Model.IdPrepaga_tab4) ? Model.IdPrepagaConComillas : "",
                                        minLetters: 0,
                                        readonlly: true)
            </div>
            <div class="columna mod4">
                @Html.LabelFor(model => model.IdPlanPrepaga_tab4)
                @JqueryUIHelper.Select2("IdPlanPrepaga_tab4",
                                        "IdPlanPrepaga_tab4",
                                         Url.Action("DescripcionesPlanPrepaga", "Combos"),
                                         Url.Action("ByIdPlanPrepaga", "Combos"),
                                        "descripcion",
                                        !string.IsNullOrWhiteSpace(Model.IdPlanPrepaga_tab4) ? Model.IdPlanPrepagaConComillas : "",
                                        minLetters: 0,
                                        readonlly: true)
            </div>            
        </div>
        <div class="fila">
            <div class="columna mod3">
                @Html.LabelFor(model => model.UpgradePrePaga_tab4)                
                @Html.HiddenFor(model => model.UpgradePrePaga_tab4)
                @Html.CheckBoxFor(model => model.UpgradePrePaga_tab4, new { disabled = "disabled" })                
            </div>
            <div class="columna mod3">
                @Html.LabelFor(model => model.PlanUpgrade_tab4)                
                @Html.HiddenFor(model => model.PlanUpgrade_tab4)
                @Html.TextBoxFor(model => model.PlanUpgrade_tab4, new { @disabled = "disabled" })              
            </div>
            <div class="columna mod3">
                @Html.LabelFor(model => model.FechaInicioUpgradePrepaga_tab4)
                @JqueryUIHelper.DatePicker("FechaInicioUpgradePrepaga_tab4",
                                           "FechaInicioUpgradePrepaga_tab4",
                                           Model.FechaInicioUpgradePrepaga_tab4,
                                           format: "dd/mm/yy",
                                           readonlly:true)
            </div>
            <div class="columna mod3">
                @Html.LabelFor(model => model.DiferenciaUpgradePrepaga_tab4)
                @Html.HiddenFor(model => model.DiferenciaUpgradePrepaga_tab4)
                @Html.TextBoxFor(model => model.DiferenciaUpgradePrepaga_tab4, new { @disabled = "disabled" })
            </div>  
        </div>
        <div class="fila">            
            <div class="columna mod3">
                @Html.LabelFor(model => model.ModuloPyO_tab4)                
                @Html.HiddenFor(model => model.ModuloPyO_tab4)
                @Html.CheckBoxFor(model => model.ModuloPyO_tab4, new { disabled = "disabled" })                
            </div>
            <div class="columna mod3">
                @Html.LabelFor(model => model.FechaInicioModuloPyO_tab4)
                @JqueryUIHelper.DatePicker("FechaInicioModuloPyO_tab4",
                                           "FechaInicioModuloPyO_tab4",
                                           Model.FechaInicioModuloPyO_tab4,
                                           format: "dd/mm/yy",
                                           readonlly: true)
            </div>
            <div class="columna mod3">
                @Html.LabelFor(model => model.Monto_tab4)
                @Html.HiddenFor(model => model.Monto_tab4)
                @Html.TextBoxFor(model => model.Monto_tab4, new { @disabled = "disabled" })
            </div>
        </div>        
        <div class="fila">
            <div class="columna mod4">
                @Html.LabelFor(model => model.Turno_tab4)
                @Html.HiddenFor(model => model.Turno_tab4)
                @Html.TextBoxFor(model => model.Turno_tab4, new { @disabled = "disabled" })

            </div>
            <div class="columna mod4">
                @Html.LabelFor(model => model.SocioCiticlub_tab4)                
                @Html.HiddenFor(model => model.SocioCiticlub_tab4)
                @Html.CheckBoxFor(model => model.SocioCiticlub_tab4, new { disabled = "disabled" })
                
            </div>
            <div class="columna mod4">
                @Html.LabelFor(model => model.IdCuotaCiticlub_tab4)
                @JqueryUIHelper.Select2("IdCuotaCiticlub_tab4",
                                        "IdCuotaCiticlub_tab4",
                                        Url.Action("DescripcionesCodigos", "Combos"),
                                        Url.Action("ByIdCodigos", "Combos"),
                                        "descripcion",
                                        (int)Buxis.Domain.Enums.TipoCodigos.CuotaCiticlub,
                                        !string.IsNullOrWhiteSpace(Model.IdCuotaCiticlub_tab4) ? Model.IdCuotaCiticlubConComillas : "",
                                        minLetters: 0,
                                        readonlly:true)
            </div>            
        </div>
        <div class="fila">
            <div class="columna mod4">
                @Html.LabelFor(model => model.IdSindicato_tab4)
                @JqueryUIHelper.Select2("IdSindicato_tab4",
                                        "IdSindicato_tab4",
                                        Url.Action("DescripcionesCodigos", "Combos"),
                                        Url.Action("ByIdCodigos", "Combos"),
                                        "descripcion",
                                        (int)Buxis.Domain.Enums.TipoCodigos.Sindicato,
                                        !string.IsNullOrWhiteSpace(Model.IdSindicato_tab4) ? Model.IdSindicatoConComillas : "",
                                        minLetters: 0,
                                        readonlly: true)
            </div>
            <div class="columna mod4">
                @Html.LabelFor(model => model.IdCategoriaContable_tab4)
                @JqueryUIHelper.Select2("IdCategoriaContable_tab4",
                                        "IdCategoriaContable_tab4",
                                        Url.Action("DescripcionesCodigos", "Combos"),
                                        Url.Action("ByIdCodigos", "Combos"),
                                        "descripcion",
                                        (int)Buxis.Domain.Enums.TipoCodigos.CategoriaContable,
                                        !string.IsNullOrWhiteSpace(Model.IdCategoriaContable_tab4) ? Model.IdCategoriaContableConComillas : "",
                                        minLetters: 0,
                                        readonlly: true)                
            </div>
            <div class="columna mod4">                
                @Html.LabelFor(model => model.IdResponsableTickets_tab4)
                @JqueryUIHelper.Select2("IdResponsableTickets_tab4",
                                        "IdResponsableTickets_tab4",
                                        Url.Action("DescripcionesResponsableTickets", "Combos"),
                                        Url.Action("ByIdResponsableTickets", "Combos"),
                                        "descripcion",
                                        !string.IsNullOrWhiteSpace(Model.IdResponsableTickets_tab4) ? Model.IdResponsableTicketsConComillas : "",
                                        minLetters: 0,
                                        readonlly: true)                
            </div>
        </div>